body {
    background-color: black;
    color: white;
}

header {
    margin: 0 auto;
    width: 90%;
}

h3 {
    font-style: italic;
}

section {
    font-family: Helvetica;
    font-size: 12pt;
    text-align: justify;
}

footer {
    margin: 0 auto;
    width: 90%;
}